---
title: "Smiles conquista"
preheader: "Teste de preheader"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-white sm:px-4 font-sans">
    <table align="center">
      <!--Header-->
      <tr>
        <td class="w-[640px] max-w-full">
          <table class="w-full">
            <x-header />
            <x-footer />
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
