<tr>
  <td width="100%" class="footer">
    <p class="footer-duvida">Ficou com alguma dúvida?</p>
  </td>
</tr>
<tr>
  <td width="100%" class="footer">
    <p class="footer-acesse">
      <a
        href="https://www.smiles.com.br"
        target="_blank"
        title="Acesse aqui os nossos canais de atendimento"
        style="
          text-decoration: none;
          color: #000000;
          font-family: 'Nunito', sans-serif;
          font-weight: 700;
        "
        >Acesse aqui</a
      >
      os nossos canais de atendimento
    </p>
  </td>
</tr>
<tr>
  <td class="footer">
    <div
      width="100%"
      height="0.333px"
      style="background-color: #dddddd; height: 0.33px; margin-top: 19px"
    ></div>
  </td>
</tr>
<tr>
  <td class="footer">
    <table width="100%">
      <tr>
        <td>
          <table class="w-full">
            <tr>
              <td class="footer-colum-1 xs:w-full sm:inline-block pt-[20px]">
                <table class="w-full">
                  <tr>
                    <td>
                      <div
                        class="rounded-full bg-brand-light w-[51px] h-[51px] sm:w-[51px] sm:h-[51px] text-center"
                      >
                        <img
                          class="mt-1 xs:mt-0"
                          src="images/baixe-app.png"
                          alt="Acesse o App smiles e navegue pela mais completa plataforma de viagens do Brasil. "
                        />
                      </div>
                    </td>
                    <td class="ml-3 inline-block">
                      <p class="footer-baixe">
                        Acesse o <b>App smiles</b> e navegue pela mais completa
                        plataforma de viagens do Brasil.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="footer-colum-2 xs:w-full sm:inline-block pt-[20px]">
                <table class="w-full">
                  <tr>
                    <td class="footer-store-container" style="margin-left: 8px">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo google play"
                      >
                        <img
                          class="footer-store"
                          src="images/google-play.png"
                          alt="Google Play"
                        />
                      </a>

                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-store"
                          src="images/apple-store.png"
                          alt="Apple Store"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="footer" style="padding-top: 45px">
    <table width="100%">
      <tr>
        <td>
          <table class="w-full">
            <tr>
              <td class="footer-colum-logo pt-[20px]">
                <table class="w-full">
                  <tr>
                    <td>
                      <img
                        src="images/logo.png"
                        alt="Logo Smiles em laranja"
                        style="width: 53px"
                      />
                      <p
                        style="
                          font-size: 16px;
                          font-family: 'Nunito', sans-serif;
                          font-weight: 700;
                          line-height: 24px;
                          margin-top: 8px;
                        "
                      >
                        Somos feitos de viagens.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
              <td
                class="footer-colum-social pt-[20px]"
              >
                <table class="w-full">
                  <tr>
                    <td class="footer-size-icon-social">
                      <a
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/linkedin.png"
                          alt="Linkedin"
                        />
                      </a>
                    </td>
                    <td class="footer-size-icon-social">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/facebook.png"
                          alt="Facebook"
                        />
                      </a>
                    </td>
                    <td class="footer-size-icon-social">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/twitter.png"
                          alt="Twitter"
                        />
                      </a>
                    </td>
                    <td class="footer-size-icon-social">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/instagram.png"
                          alt="instagram"
                        />
                      </a>
                    </td>
                    <td class="footer-size-icon-social">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/spotify.png"
                          alt="spotify"
                        />
                      </a>
                    </td>
                    <td class="footer-size-icon-social">
                      <a
                        style="text-decoration: none"
                        href="#"
                        target="_blank"
                        title="baixar aplicativo Apple Store"
                      >
                        <img
                          class="footer-social-media"
                          src="images/youtube.png"
                          alt="youtube"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
